<div class="container" ng-controller="HomeController as home">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <span ng-include="'views/burnNoticeComponent.html'"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <span ng-include="'views/strainComponent.html'"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <span ng-include="'views/transactionComponent.html'"></span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <span ng-include="'views/buyerComponent.html'"></span>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <span ng-include="'views/vendorComponent.html'"></span>
          </div>
        </div>
        <div class="col-sm-6"><div class="well"></div></div>
    </div>
</div>
